<a href="{{ GITEA_CORNER_URL }}" class="gitea-corner" aria-label="View source on Gitea">
    <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" width="80" height="80" viewBox="0 0 250 250" style="fill:#151513; color:#fff; position: absolute; top: 0; border: 0; right: 0;" aria-hidden="true" version="1.1" id="svg1474" sodipodi:docname="gitea.svg" inkscape:version="1.0.2 (e86c870879, 2021-01-15)">
        <metadata id="metadata1480">
            <rdf:RDF>
                <cc:Work rdf:about="">
                    <dc:format>image/svg+xml</dc:format>
                    <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                    <dc:title></dc:title>
                </cc:Work>
            </rdf:RDF>
        </metadata>
        <defs id="defs1478" />
        <sodipodi:namedview pagecolor="#ffffff" bordercolor="#666666" borderopacity="1" objecttolerance="10" gridtolerance="10" guidetolerance="10" inkscape:pageopacity="0" inkscape:pageshadow="2" inkscape:window-width="1920" inkscape:window-height="1011" id="namedview1476" showgrid="false" inkscape:zoom="5.31875" inkscape:cx="120.52189" inkscape:cy="1.8161983" inkscape:window-x="0" inkscape:window-y="32" inkscape:window-maximized="1" inkscape:current-layer="svg1474" />
        <path d="M 0,0 C 85.37539,81.415499 171.40214,170.44093 250,250 V 0 Z" id="path1468" style="fill:#27a722;fill-opacity:1" sodipodi:nodetypes="cccc" />
        <g id="g2265" transform="matrix(0.69313465,0.67537894,-0.67537894,0.69313465,155.71733,-10.938791)">
            <g inkscape:label="Layer 1" id="layer1" transform="translate(0,-161.53334)" style="display:inline;fill:#ffffff">
                <path style="fill:#ffffff;fill-opacity:1;stroke:#428f29;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" d="m 27.709937,195.15095 c -9.546573,-0.0272 -22.3392732,6.79805 -21.6317552,23.90397 1.105534,26.72889 25.4565952,29.20839 35.1916502,29.42301 1.068023,5.01357 12.521798,22.30563 21.001818,23.21667 h 37.15277 c 22.27763,-1.66785 38.9607,-75.75671 26.59321,-76.03825 -46.781583,2.47691 -49.995146,2.13838 -88.599758,0 -2.495053,-0.0266 -5.972321,-0.49474 -9.707935,-0.5054 z m 2.491319,9.45886 c 1.351378,13.69267 3.555849,21.70359 8.018216,33.94345 -11.382872,-1.50473 -21.069822,-5.22443 -22.851515,-19.10984 -0.950962,-7.4112 2.390428,-15.16769 14.833299,-14.83361 z" id="path3722" inkscape:connector-curvature="0" sodipodi:nodetypes="sscccccsccsc" />
            </g>
            <rect style="display:inline;fill:#27a722;fill-opacity:1;stroke:none;stroke-width:0.247573;stroke-opacity:1" id="rect4599" width="34.762054" height="34.762054" x="87.508659" y="18.291576" transform="rotate(25.914715)" ry="5.4825778" />
            <path style="display:inline;fill:#27a722;fill-opacity:1;stroke:none;stroke-width:0.266448px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" d="m 79.804947,57.359056 3.241146,1.609954 V 35.255731 h -3.262698 z" id="path4525" inkscape:connector-curvature="0" sodipodi:nodetypes="ccccc" />
            <g id="layer3" inkscape:label="Layer 3" style="display:inline">
                <g style="display:inline" id="g4539">
                    <circle transform="rotate(-19.796137)" r="3.4745038" cy="90.077766" cx="49.064713" id="path4606" style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.264583;stroke-opacity:1" />
                    <circle transform="rotate(-19.796137)" r="3.4745038" cy="102.1049" cx="36.810425" id="path4606-3" style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.264583;stroke-opacity:1" />
                    <circle transform="rotate(-19.796137)" r="3.4745038" cy="111.43928" cx="46.484283" id="path4606-1" style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.264583;stroke-opacity:1" />
                    <rect transform="rotate(26.024158)" y="18.061695" x="97.333458" height="27.261492" width="2.6726954" id="rect4629-8" style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.274447;stroke-opacity:1" />
                    <path sodipodi:nodetypes="cc" inkscape:connector-curvature="0" id="path4514" d="m 76.558096,68.116343 c 12.97589,6.395378 13.012989,4.101862 4.890858,20.907244" style="fill:none;stroke:#ffffff;stroke-width:2.68;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
                </g>
            </g>
        </g>

        <g id="steam">
            <path style="fill:none;stroke:#ffffff;stroke-width:3.125px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" d="m 214.48028,23.6314 c 1.317,20.007164 -28.72477,12.742419 -28.08363,27.254313" id="path2287" sodipodi:nodetypes="cc" />
            <path style="fill:none;stroke:#ffffff;stroke-width:3.54871px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" d="m 222.67793,32.58836 c -0.62421,20.715424 -24.70978,14.100738 -23.90648,27.110411" id="path2289" sodipodi:nodetypes="cc" />
        </g>
    </svg>
</a>
<style>
    .gitea-corner:hover #steam {
        animation: octocat-wave 560ms ease-in-out
    }

    @keyframes steam {

        0%,
        100% {
            transform: rotate(0)
        }

        20%,
        60% {
            transform: rotate(-25deg)
        }

        40%,
        80% {
            transform: rotate(10deg)
        }
    }

    @media (max-width:500px) {
        .gitea-corner:hover #steam {
            animation: none
        }

        .gitea-corner #steam {
            animation: steam 560ms ease-in-out
        }
    }
</style>